.guide {
  z-index: 9;
  opacity: 1;
  bottom: 0;
  color: #7fdbca;
  width: 100%;
  margin-bottom: 20px;
  font-size: 0.7rem;
  position: absolute;
  text-shadow: 0 0 2px #FFCB6B, 0 0 1px #FFCB6Baa !important;
}

.keycap {
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  line-height: 1.8em;
  color: #C792EA;
  background: transparent;
  border: 1px solid #C792EA;
  text-shadow: 0 0 2px #FFCB6B, 0 0 1px #FFCB6Baa !important;
}
