.scoreContainer {
  top: 20px;
  left: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.score {
  font-size: calc(2.5em * var(--game-scale, 1));
  text-align: center;
  color: #7fdbca;
  text-shadow: 0 0 2px #FFCB6B, 0 0 1px #FFCB6Baa !important;
  font-weight: bold;
  min-width: 120px;
}

.highScore {
  font-size: calc(1em * var(--game-scale, 1));
  text-align: center;
  color: #FFCB6B;
  text-shadow: 0 0 2px #FFCB6B, 0 0 1px #FFCB6Baa !important;
  font-weight: bold;
  min-width: 120px;
}