.scoreContainer {
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.score {
  font-size: 2.5em;
  text-align: center;
  color: #7fdbca;
  text-shadow: 0 0 2px #FFCB6B, 0 0 1px #FFCB6Baa !important;
  font-weight: bold;
  min-width: 120px;
}

.highScore {
  font-size: 1em;
  text-align: center;
  color: #FFCB6B;
  text-shadow: 0 0 2px #FFCB6B, 0 0 1px #FFCB6Baa !important;
  font-weight: bold;
  min-width: 120px;
}
