.screen {
  width: 1080px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  border: 5px solid #1D3B53;
  background: rgba(130, 170, 255, 0.03);
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 1080 / 800;
}

@media (max-width: 1024px) {
  .screen {
    width: 100%;
    height: 100%;
    border: none;
    aspect-ratio: 1080 / 800;
  }
}
