.indicator {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #7fdbca;
  text-shadow: 0 0 2px #7fdbca55;
  font-weight: bold;
  z-index: 8;
  border: 2px solid #7fdbca44;
  border-radius: 8px;
  opacity: 0.5;
  pointer-events: none;
}

.indicator.active {
  color: #7fdbca;
  text-shadow: 0 0 2px #7fdbca, 0 0 30px #7fdbca88;
  border: 2px solid #7fdbca;
  background: rgba(127, 219, 202, 0.1);
  opacity: 1;
}
