body {
    background-color: #000;
    background-image: url("./Assets/background.jpg");
    background-size: auto auto;
    background-repeat: repeat;
    background-position: center;
    min-height: 100%;
    overflow: hidden;
}

.box {
    height: 10vh;
    width: 10vh;
    background: red;
}

.shipAndFire {
    position:relative;
}

.ship {
    bottom: 0;
    left: 50vh;
    width: 10%;
    height: 10%;
    position: absolute;
    transform: translate(-50%, 0%);
    background: url('./Assets/rocket.svg');
    background-size: cover;
}
.fire {
    bottom: 0;
    left: 50vh;
    width: 10%;
    height: 10%;
    position: absolute;
    transform: translate(-50%, 0%);
    background: url('./Assets/fire.svg');
    background-size: cover; 
}