body {
  background-color: #000;
  background-image: url("./Assets/background.jpg");
  background-size: auto auto;
  background-repeat: repeat;
  background-position: center;
  min-height: 100%;
  overflow: hidden;
}
