@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(./Assets/PressStart2P-Regular.ttf);
}

body {
  font-family: 'PressStart2P-Regular', monospace;
  user-select: none;
  background: #111;
}
