@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(./Assets/PressStart2P-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PressStart2P-Regular', monospace;
  user-select: none;
  background: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes moveY {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(950px);
  }
}

@keyframes flame {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.8);
  }
}
